<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>

</body>

<script th:inline="javascript" th:href="@{~/static/jquery-3.5.1.js}">
    var result = [[${data}]]
    // console.log(result)
    document.write(result);

    let tags = document.getElementsByTagName("a")
    for (let i = 0; i < tags.length; i++) {
        let item = tags.item(i);
        let attribute = item.getAttribute("href");
        // console.log("============",attribute)
        item.removeAttribute("href");
        if (attribute != null) {
            item.addEventListener("click", function () {
                var httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/selectInfo", true);
                httpRequest.setRequestHeader("Content-Type", "application/json");
                var urlClass = {
                    "url": attribute
                }

                let s = JSON.stringify(urlClass);
                // console.log("============",s)
                httpRequest.send(s);
                httpRequest.onreadystatechange = () => {
                    if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                        // console.log("测试", httpRequest.responseText)
                        document.write(httpRequest.responseText);

                        // myWindow = window.open('', '', 'width=200,height=100')
                        // myWindow.document.write(httpRequest.responseText)
                        // myWindow.focus()
                        // myWindow.opener.document.write(httpRequest.responseText)

                        // var data = JSON.parse(httpRequest.responseText);
                        // location.replace("download")
                    }
                }

            });
        }
    }
</script>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>write输出内容到页面中</title>-->
<!--</head>-->
<!--<script>-->
<!--    document.write("hello");-->
<!--    document.write("<h1>通过document.write输出内容</h1>");-->
<!--</script>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->
